.section_img{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact_img{
    background-image: url('../images/contact.jpg');
}
.header_i{
    font-size: 3rem;
    color: #fff;
}
.secondary-name{
    color: #006FBF;
}