.courses_img{
    background-image: url('../../images/courses.jpg');
}
.Courses-head-card{
    padding: 10%;
}
.courses-title{
    font-size: 1.5rem;
    color: #002347;
}
.Courses-i{
    line-height: 40px;
    margin-bottom: 50px;
    text-align: center;
}



.Section_title{
    line-height: 40px;
    text-align: center;
}
.Section_head{
    font-size: 3rem;
    color: #002347;
    position: relative;
    margin-bottom: 10px;
}

.courses__name{
    margin-bottom: 10px;
}
.Section_info{
    margin-bottom: 15px;
    line-height:30px;
}
.Courses-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
}
.courses-card{
    background-color: #f9f9ff;
    padding: 40px 36px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex-basis: 32%;
    transition: all 0.3s ease;
    box-sizing: border-box; 
    box-shadow: -1px 9px 32px -7px rgba(0,0,0,0.7);
    -webkit-box-shadow: -1px 9px 32px -7px rgba(0,0,0,0.7);
    -moz-box-shadow: -1px 9px 32px -7px rgba(0,0,0,0.7);
    
}
.courses-card:hover{
    transform: scale(1.06);
}
.course-link{
    width: 40%;
    line-height: 48px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    outline: none;
    text-decoration: none;
    color: #fdc632;
    background-color: #002347;
}
.course-title{
    color: #002347;
    font-size: 2.5rem;
}
.course-description{
    line-height: 25px;
}
.courses-title__i{
    color: #002347;
    font-size: 15px;
}
#Phonics{
    flex-basis: 30%!important;
    padding: 20px 15px;
}
@media screen and (max-width:1200px) {
    .Courses-list{
        flex-direction: column;
    }
    
    
}
@media screen and (max-width:540px)
{
    .Courses-head{
        font-size: 2.5rem;
    }
    .course-link{
        width: 60%;
    }
}




/* CousrsesPath css */
.courses-i-main{
    padding: 8% 10%;
}
.cousres-i-title{
    padding: 10px 0;
    font-size: 2.5rem;
    color: #002347;
    font-weight: 600;
}
.courses-i-body{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.courses-i{
    padding:40px 36px ;
    background-color: #f9f9ff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    border: 5px solid #002347;

}
.courses-1{
    background-image: url('../../images/course-1.jpg');
}
.courses-2{
    background-image: url('../../images/course-2.jpg');
}
.courses-3{
    background-image: url('../../images/course-3.jpg');
}
.courses-i:hover{
    box-shadow: -1px 9px 32px -7px rgba(0,0,0,0.7);
    -webkit-box-shadow: -1px 9px 32px -7px rgba(0,0,0,0.7);
    -moz-box-shadow: -1px 9px 32px -7px rgba(0,0,0,0.7);
}
.courses-i-ls-title-bar{
    line-height: 40px;
    color: #fff;
}
.courses-i-ls-title{
    color: #002347;
}
.course-i-ls-description:hover{
    color: indigo;
}
.courses-i-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}
.duration-btn{
    line-height: 30px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    outline: none;
    text-decoration: none;
    color: #fdc632;
    background-color: #002347;
    padding: 10px;
    
}
.Duration-month{
    color: #fff;
    font-size: 15px;
}
.duration-days {
    vertical-align: middle;
}
.icon{
    vertical-align: middle;
}
.courses-objective-head{
    font-size: 2rem;
    color: #002347;
    padding: 10px 0;
}
.courses-objective-ul{
    line-height:40px ;
    
}
.courses-objective-ul li{
    font-size: 1.2rem;
    font-weight: 400;
}
.courses-objective-ul li::before{
    content: '\00BB';
    font-size: 1.5rem;
}
@media screen and (max-width:1170px)
{
    .courses-i{
        padding: 30px 18px;
        flex-direction: column;
        row-gap: 20px;
    }
    .courses-i-main{
        padding: 35% 10%;
    }
    .cousres-i-title{
        font-size: 1.8rem;
        text-align: center;
    }
    .courses-i-ls-title-bar{
        display: flex;
        flex-direction: column;
        line-height: 25px;
        row-gap: 20px;
    }
}